# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

models/*.pkl
logs/*.csv

!models/forecasting_model.pkl
!logs/sc1_log.csv
!logs/sc2_log.csv

# Evaluation session IDs
sessions/

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db